*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
}

h1{
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-10%, -40%);
}

h2{
    font-weight: 900;
    line-height: 50px;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-20%, -45%);
}

p{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #23A, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400%, 400%;
    position: relative;
    padding: 5rem, 10rem;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}



