body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.2);
}

.box2{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.2);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.box h1{
    color: red;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"], .box input[type = "email"]{
    border: 0;
    background: none;
    display: bloack;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus, .box input[type = "email"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: bloack;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}

.invalid{
    color: red;
    font-weight: bold;
}
